extends layout

block content
  h1= title
  - let result = results
  div.container-fluid
    div.row
      each guitar, index in result
        div.col-sm-2(onclick=`buy(${index})`)
          p #{guitar.type}
          p #{guitar.cost}
          p #{guitar.material}
          button.btn.btn-primary.ml-1(onclick=`update(${index})`) Update
